# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Env / secrets
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Ignore large shapefile set
geodata/TN_SIGNGU_BNDRY.*

